body{
background-color: whitesmoke
}
.card-body{
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgb(227, 200, 27) 0%, rgba(255,244,234,1) 100.2% );
}

h6{
    word-spacing: 5px;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
